<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ "" | prepend: site.baseurl | prepend: site.url }}/">
      <img src="{{ "/assets/img/title.png" | absolute_url }}" alt="{{ site.title }}" />
    </a>
    <nav class="site-nav">
      <a href="#" class="menu-icon"></a>
      <div class="menu">
        {% for p in site.header.pages %}
          {% if p.slug and p.slug != "" and p.slug != nil %}
            {% assign page_link = p.slug %}
          {% else %}
            {% assign page_link = "/" | append: p.name | downcase %}
          {% endif %}
          {% assign page_link = page_link | absolute_url %}
          <a class="page-link" href="{{ page_link }}">
            {{- p.name -}}
          </a>
        {% endfor %}

        <span class="lang-toggle">
          {% if page.lang == 'en' %}
            <span class="lang-active">EN</span>
            <span class="lang-sep">/</span>
            <a href="{{ page.lang-alt }}">FR</a>
          {% elsif page.lang == 'fr' %}
            <a href="{{ page.lang-alt }}">EN</a>
            <span class="lang-sep">/</span>
            <span class="lang-active">FR</span>
          {% else %}
            <span class="lang-active">EN</span>
            <span class="lang-sep">/</span>
            <span class="lang-inactive">FR</span>
          {% endif %}
        </span>

      </div>
    </nav>
  </div>
</header>